<p>I will show all the contacts</p>

<% @contacts.each do |contact| %>
  <h2>here is your contact</h2>
  <p><%= contact.first_name %></p>
  <p><%= contact.last_name %></p>
  <p><%= contact.email %></p>
  <p><%= contact.phone_number %></p>
<% end %>
